*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    background:#000;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
}

a{
    text-decoration:none;
    color:white;
}

a:hover{
    text-decoration: underline;
}
#main{
    width:100%;
}

#nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2vw 7vw;
}
#nav a{
    font-size: clamp(10px , 1.4vw , 1000px);
    
}
#nav-rgt{
    display:flex;
    gap:3vw;
}

#hero{
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:0 7vw;
}

#hero-lft{
    width:45%;
    
    overflow: hidden;
    height: 85vh;
   
}

#hero-lft h3{
    font-size:1.2vw;
    margin-bottom:1vw;
}

#hero-lft h1{
    font-size:4vw;
    line-height:1;
}


#hero-rgt{
    width:50%;
    height: 85vh;
    overflow: hidden;
}

#hero-rgt img{
    width:100%;
    height:85vh;
    object-fit:cover;
    border-radius:20px;

}
#about{
    width: 100%;
   
}
#nav h2{
    font-size: clamp(10px , 2vw , 100px);
}
#hero-lft h1{
    font-size: clamp(45px , 4vw , 1000px);
}
#hero-lft h3{
    font-size: clamp(20px, 1vw , 1000px);
}
.hero-lft-content{
    height: 85vh;
    padding: 15vw 2vw;
}
#about{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 7vw 8vw;
    background-color: #222;
}
#about-lft{
    border: 2px solid black;
    height: 100%;
    width: 30%;
    overflow: hidden;
    border: 2px solid grey;
    border-radius: 2vw;
     box-shadow: 1px 1px 1px white;
}

#about-rgt{
   background-color: #333;
    height: 100%;
    width: 65%;
    padding: 1vw 2vw;
    border: 2px solid black;
    border-radius: 2vw;
}
#about-lft img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#about-btns{
    display: flex;
    justify-content: space-around;
    margin-top: 7vh;
}
#aboutSkills{
    padding: 3vw 0vw;
}
#aboutSkills p{
    margin-bottom: 2vw;
}
#about-rgt h1{
    margin-bottom: 2vw;
    font-size: 2.5vw;
}
#about-rgt p{
    font-size: clamp(10px , 1vw , 30px);
}
#about-btns a{
    font-size: clamp(10px , 1.4vw , 30px);
}
#aboutSkills h3{
    font-size: clamp(10px , 1.5vw, 30px);
}
.name{
    color: rgb(253, 81, 81);
}